extends layout

block content
    h1= title
    p Welcome to #{title}	
    
    | <div id="main">         
    |    <!-- demo -->
    |    <div class="demo chart-demo" id="chart-demo">
    |   </div>            
    |   <!-- /demo -->
    | </div>

    #repositoryapp
        #proflib-visualizer-container
        #new-repository
            p Nice!
        #repository-list
    #item-template2
        .node2
            .name
            .id
            .email
            .change-name
                <input type=text />
            .repository
            .destroy
                p destroy
            .edit
                p edit
    | <script id="item-template" type="text/plain">
    |     <div class="node">
    |          <div class="name">
    |             <%=name%>
    |          </div>
    |          <div class="edit">
    |             <p>edit</p>
    |          </div>
    |          <div class="destroy">
    |             <p>destroy</p>
    |          </div>
    |          <div class="add-folder">
    |             <p>add-folder</p>
    |          </div>
    |          <div class="folder-list">
    |          </div>
    |     </div>
    | </script>
    #node-description-container
    script(src="/javascript/d3/controllers/visualizer.js")
    script(src="/javascript/backbone/models/folders.js")
    script(src="/javascript/backbone/collections/folders.js")
    script(src="/javascript/backbone/views/folders.js")
    script(src="/javascript/backbone/models/repositories.js")
    script(src="/javascript/backbone/collections/repositories.js")
    script(src="/javascript/backbone/views/repositories.js")
    script(src="/javascript/backbone/models/app.js")
    script(src="/javascript/backbone/views/app.js")
    script(src="/javascript/jsPlumb/demo.js")
