extends layout

block content
    h1= title
    p Welcome to #{title}	
    #repositoryapp
        #repository-list
    #item-template
        .thing
            p cool
    #stats-template
    #new-repository
        p Nice!
    script(src="/javascript/models/repositories.js")
    script(src="/javascript/collections/repositories.js")
    script(src="/javascript/views/repositories.js")
    script(src="/javascript/views/app.js")