doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/plugins/jquery-2.1.1.js")
    script(src="/plugins/d3.js")
    script(src="/plugins/underscore.js")
    script(src="/plugins/backbone.js")
  body
    block content
