doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//d3js.org/d3.v3.min.js")
    script(src="/plugins/underscore.js")
    script(src="/plugins/backbone.js")
  body
    block content
